<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RestaurantDb"
			 connectionString="data source=localhost;Initial Catalog=RestaurantDB;Persist Security Info=True;User ID=Lau;Password=1122;Connection Timeout=60;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
